<footer>
  <div class="footer">
  	<div class="footer_logo">
  		<a href="/" >  <img src="/images/logo.jpg" alt="JM tire logo"></a>
			<p class="regular">Tires and Service When You Need It</p>
  	</div>
		<div class="footer_center">
      <div class="footer_info">
  			<a href="https://goo.gl/maps/BJgJszSbfuNQQ2mHA" class="address">412 N Park St <br>	St Ansgar IA 50472</a>
  			<p class="regular hours hours">Shop Hours: <br>Mon-Fri 8:00 AM - 5:00 PM</p>
  			<a href="tel:6417328358" class="phone">641-732-8358</a> <br> <br>
  			<a href="mailto:jeremy@jmtire.net" class="mail">jeremy@jmtire.net</a>
  		</div>
  		<div class="footer_links">
  			<a href="/road-service">24 Hour Roadside Service</a>
  			<a href="/commercial-tires">Truck Tires</a>
  			<a href="/ag-tires">Ag Tires</a>
  			<a href="/automotive-tires-alignment">Automotive Tires and Alignment</a>
  		</div>
    </div>
		<div class="footer_brands">
			<img src="/images/hankook-m.webp" alt="hankook tires logo">
	    <img src="/images/bkt.webp" alt="bkt tires logo">
	    <img src="/images/firestone.webp" alt="firestone tires logo">
	    <img src="/images/michelin.webp" alt="michelin tires logo">
	    <img src="/images/bfgoodrich.webp" alt="bfgoodrich tires logo">
	    <img src="/images/toyo.webp" alt="toyo tires logo">
	    <img src="/images/continental.webp" alt="continental tires logo">
	    <img src="/images/mitas.webp" alt="mitas tires logo">
	    <img src="/images/trelleborg.webp" alt="trelleborg tires logo">
	    <img src="/images/hercules.webp" alt="hercules tires logo">
	    <img src="/images/falken.webp" alt="falken tires logo">
	    <img src="/images/roadmaster.webp" alt="roadmaster tires logo">
	    <img src="/images/cooper.webp" alt="cooper tires logo">
	    <img src="/images/ironman.webp" alt="ironman tires logo">
	    <img src="/images/bridgestone.webp" alt="bridgestone tires logo">
		</div>
  </div>

	<div class="details">
		<a href="{{ .Site.BaseURL }}">
			&copy; {{ now.Format "2006" }} JM Tire | All Rights Reserved
		</a> <br>
		<a href="https://www.scriptworks.net">Website by ScriptWorks Web Dev</a>
	</div>
</footer>
<script type="text/javascript" src="/js/index.js">

</script>
