<header>
  <a href="/" class="logo">
    <img src="/images/logo.jpg" alt="JM tire logo">
  </a>
  <nav class="menu">
    <a href="/road-service">Road Service</a>
    <p class="menu-item" id="dropdown-dt">Tires and Services</p>
      <div class="dropdown-dt" id="dropdown-element-dt">
        <a href="/commercial-tires" class="menu-item">Commercial Tires</a>
        <hr>
        <a href="/ag-tires" class="menu-item">Ag Tires</a>
        <hr>
        <a href="/automotive-tires-alignment" class="menu-item">Automotive Tires and Alignment</a>
      </div>
    <a href="/contact">Contact</a>
    <a href="/#about">About</a>
  </nav>
  <div class="hamburger">
    <img src="/images/Icons_Menu.svg" alt="menu">
  </div>
  <div class="mobile-menu">
    <div class="menu-header">
      <div class="logo">
        <img src="/images/logo.jpg" alt="JM Tire Logo">
      </div>
      <div class="menu-close">
        <img src="/images/Icons_Close.svg" alt="">
      </div>
    </div>
    <div class="menu-items">
      <a href="/road-service" class="menu-item">Road Service</a>
      <hr>
      <p class="menu-item" id="dropdown">Tires and Services</p>

      <div class="dropdown" id="dropdown-element">
        <hr>
        <a href="/commercial-tires" class="menu-item">Commercial Tires</a>
        <a href="/ag-tires" class="menu-item">Ag Tires</a>
        <a href="/automotive-tires-alignment" class="menu-item">Automotive Tires and Alignment</a>
      </div>
      <hr>
      <a href="/#about" class="menu-item">About Us</a>
      <hr>
      <a href="/contact" class="menu-item">Contact Us</a>
    </div>
  </div>
</header>
